<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../CSS/adminView.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navigation">
        <ul>
          <li>
            <a href="">
              <span class="logo">Barter</span>
            </a>
          </li>
          <li>
            <a href="adminUsers">
              <span class="icon"
                ><ion-icon name="person-outline"></ion-icon
              ></span>
              <span class="title">Usuarios</span>
            </a>
          </li>
          <li>
            <a href="adminOffers">
              <span class="icon"
                ><ion-icon name="grid-outline"></ion-icon
              ></span>
              <span class="title">Ofertas</span>
            </a>
          </li>
          <li>
            <a href="adminBarters">
              <span class="icon"
                ><ion-icon name="swap-vertical-outline"></ion-icon
              ></span>
              <span class="title">Intercambios</span>
            </a>
          </li>
          <li>
		  </li>
        </ul>
        <a id="back" class="back" th:href="@{/admin/}">Página Principal</a>
      </div>

        <!--Main-->

        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
            </div>

            <!--Table-->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Intercambios</h2>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>Remitente</td>
                                <td>Id Oferta</td>
                                <td>Ordenante</td>
                                <td>Id Oferta</td>
                                <td>Fecha Realización</td>
                                <td>Valor Total Intercambiado</td>
                                <td>Estado</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="intercambio : ${listaIntercambios}">
                                <td th:text="${intercambio.oferta1.remitente.id}">UserRemitente</td>
                                <td th:text="${intercambio.oferta1.id}">1</td>
                                <td th:text="${intercambio.oferta1.remitente.id}">UserOrdenante</td>
                                <td th:text="${intercambio.oferta2.id}">2</td>
                                <td th:text="${intercambio.fechaRealizacion}">03/10/2022</td>
                                <td th:text="${intercambio.oferta1.valorEstimado + intercambio.oferta2.valorEstimado} + '€'">5€</td>
                                <td th:text="${intercambio.estado}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script>
        //Menu toggle
        let toggle = document.querySelector(".toggle");
        let navigation = document.querySelector(".navigation");
        let main = document.querySelector(".main");
        let logo = document.querySelector(".logo");
        let isSidebarOpen = localStorage.getItem('sidebarOpen') === "true";
  
        //Opens or closes the sidebar when loading the page
        if (isSidebarOpen || isSidebarOpen === null) {
          navigation.classList.remove("active");
          logo.classList.remove("hide-logo");
          main.classList.remove("active");
        } else {
          navigation.classList.add("active");
          logo.classList.add("hide-logo");
          main.classList.add("active");
        }
  
        toggle.onclick = function () {
          navigation.classList.toggle("active");
          logo.classList.toggle("hide-logo");
          main.classList.toggle("active");
          localStorage.setItem('sidebarOpen', !navigation.classList.contains("active")); 
          //if it contains active class, it means that it is closed
        };
  
        let list = document.querySelectorAll(".navigation li");
        function activeLink() {
          list.forEach((item) => item.classList.remove("hovered"));
          this.classList.add("hovered");
        }
  
        list.forEach((item) => item.addEventListener("mouseover", activeLink));
      </script>
</body>
</html>